
h1 {
  text-decoration: underline;
  text-align: center;
}
#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

img {
  width: 80%;
  height: auto;
  display: block;
}

.light-background {
  background-color: cornsilk;
}

.dark-background {
  background-color: darkslategray;
  color: white;
}


